$c-primary: #384ea9;
$c-primary-light: #e4efff;
$c-primary-dark: #273677;

$c-black: #000;
$c-gray-dark: #333;
$c-gray: #555;
$c-gray-light: #ccc;

$c-white: #fff;


$b-header-height: 50px;
$b-footer-height: 50px;