.movie-list-page {
    height: 100%;
    display: flex;

    .page-left-container {
        border-right: 1px solid $c-gray-dark;
        padding: 0;
        max-width: 300px;
        height: 100%;
    }

    .page-right-container {
        padding: 20px 40px;
        flex: 1;
        height: 100%;

        .movie-not-selected {
            display: flex;
        }
    }
}
